  {% extends 'base.html' %}


     {% block head %}

       {% if title %}
        <title>About</title>
        {% else %}
         <title>About</title>
      {% endif %}

     {% endblock %}

   {% block content %}

     <div class="container">
        <h3>About AllTrending headlines</h3>
       <p>All treending headlines is an aggregator that collects news publications from varrious
         sources in the world and dumb them in one hub lessning the work of going from one website to another looking for information,
        which is very tidiuos,using this application the information is in one sources which makes it easy to find
         and stay updated with what is currently happening in the world.
        </p>


      <p>The application also offers weather updates and currency exchange in line with the global market,
         most of the times i used be curious of how zambian kwatcha to dollar is doing, so with this app i can see everything at
         a goal in the near future i will add other stuff am intrested into how awsome is that!  </p>
      <p>In the furture am planning to add some court session stories i have been wanted to go court to listen some stories, but with this application
        i can scrap through some information instead of being there.  </p>
        <p> happy Iam to develop such an incrideble application for the first time using Flask framework</p>




     </div>
   {% endblock %}
